@namespace MangaManagementSystem.Web.Components.Layouts

<div class="mf-shell">
    <main class="mf-main">
        @ChildContent
    </main>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
