# ASP.NET
ASPNETCORE_ENVIRONMENT=Development

# SQL Server Docker
SA_PASSWORD=ChangeThisSql_2026!Dev
DB_NAME=MangaManagementDB

# JWT
JWT_KEY=change_this_to_a_long_random_key_at_least_32_characters
JWT_ISSUER=MangaManagementSystem
JWT_AUDIENCE=MangaManagementSystemUsers

# SMTP
SMTP_USERNAME=change_me
SMTP_PASSWORD=change_me
SMTP_FROM_EMAIL=change_me@example.com

# Google Authentication
GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me

# Cloudinary
CLOUDINARY_CLOUD_NAME=change_me
CLOUDINARY_API_KEY=change_me
CLOUDINARY_API_SECRET=change_me

# reCAPTCHA
RECAPTCHA_SITE_KEY=change_me
RECAPTCHA_SECRET_KEY=change_me

# SonarQube PostgreSQL DB
SONARQUBE_JDBC_USERNAME=sonar
SONARQUBE_JDBC_PASSWORD=SonarDb_2026!Dev
SONARQUBE_DB=sonarqube